body {
    background-color: black;
}

#table {
    font-family: "cascadia code";
    background-color: black;
    color: white;
    position: absolute;
    top: 10%;
    left: 30%;
    transform: (-50%, -50%);
}

th {
    padding: 10px;
}

td {
    padding: 10px;
}

