@font-face {
    font-family: "Cascadia Code";
    src: url("./font/CascadiaCode.ttf") format("truetype");
  }
  

body {
    background-color: white;
    color: black;
    font-family: "Cascadia Code", sans-serif;

}


#table {
    position: absolute;
    top: 10%;
    left: 30%;
    transform: (-50%, -50%);

}

th {
    padding: 10px;
}

td {
    padding: 10px;
}

